::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000; 
}

::-webkit-scrollbar-thumb {
    background: #353535;
    border-radius: 5px; /* reoundedass */
}

::-webkit-scrollbar-thumb:hover {
    background: #474747; 
}
